doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title
			!= 'Gentelella'

		//Bootstrap 
		<link href="/gantelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		//Font Awesome 
		<link href="/gantelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		//NProgress 
		<link href="/gantelella/vendors/nprogress/nprogress.css" rel="stylesheet">

		//Custom Theme Style 
		<link href="/gantelella/build/css/custom.min.css" rel="stylesheet">

	body(class="nav-md")
		div(class="container body")
			div(class="main_container")
				//page content 
				div(class="col-md-12")
					div(class="col-middle")
						div(class="text-center text-center")
							h1(class="error-number") #{error.status}
							h2= message
							p #{error.stack}

		//jQuery 
		<script src="/gantelella/vendors/jquery/dist/jquery.min.js"></script>
		//Bootstrap 
		<script src="/gantelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
		//FastClick 
		<script src="/gantelella/vendors/fastclick/lib/fastclick.js"></script>
		//NProgress 
		<script src="/gantelella/vendors/nprogress/nprogress.js"></script>

		//Custom Theme Scripts 
		<script src="/gantelella/build/js/custom.min.js"></script>
