+inputText('t01_text',model, {required: true, placeholder: 'Insert text here !'})
+inputArea('t01_area', model,{required: true, placeholder: "This is a textarea", rows:10, cols:10})
+inputNumber('t01_number', model, {required: true, placeholder: 'Insert number here !'})
+inputPassword('t01_password',model, {required: true, placeholder: 'Insert password here !'})
+inputEmail('t01_email', model, {required: true, placeholder: 'Insert email here !'})
+inputDate('t01_date', model, {required: true, type:'date' })
+inputDate('t01_time', model, {required: true, type:'time' })
+inputDate('t01_timestamp', model, {required: true, type:'timestamp' })